*{
    font-family: 'Lato', sans-serif;   
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    background-color: white;
    color: #fff;
}

.container{
    padding : 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.navfirstName{
    font-size: 35px;
    font-weight:800;
    color: #393E46;

}
.navlastName{
    color: #00ADB5;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    margin:10px 20px;
}
nav ul li a{
    text-decoration: none;
    color:#393E46;
    font-size: 18px;
    font-weight: 500;
    position:relative;
    padding-bottom:3px ;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #FFB085;
    position :absolute;
    left: 0;
    bottom:-2px;
}

nav ul li a:hover::after{
    width: 100%;
    transition: 0.5s;
}
/* ---------------------------------------HEADER--------------------------------------- */
.headerText{
    width: 100%;
    display: flex;
    margin-top:5%;
    color: black;
    justify-content:space-between;
    align-items: center;
}
.headerTitle{
    width: 50%;
}
.headerTitle .headerTagline{
    font-size:32px;
}
.headerTitle .aboutText{
    margin-top: 10px;
    font-size: 18px;
    text-align: justify;
    color: #393E46;
}
.headerTitle h1 span{
    font-size:60px;
    font-weight: 1000;
    color: #00ADB5;
}
.headerTitle h1{
    font-size:53px;
    color: black;
}
.headerText .profilePicture{
    width: 50%;
    border-radius: 5px;
}
.headerText .quoteText{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: rgb(162, 159, 159);
}
.headerText .quoteTitle{
    font-size: 22px;
    font-weight: 700;
    color: black;
    margin-top: 6px;
    margin-bottom: 8px;
}
.headerImageContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nButton{
    margin-left: 50px;
    text-decoration: none;
    color: #393E46;
    font-weight: 600;
}

/* ---------------------------------------EXPERIENCE--------------------------------------- */
.experiences{
    margin-top: 10%;
    background-color: 393E46;
}

.tabTitles{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 20px;
}
.tabLinks{
    color: black;
    font-size: 40px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    margin-bottom: 2.5%;
}
.tabLinks::after{
    content: "";
    width: 0;
    height: 3px;
    background-color: #FFB085;
    left:0;
    bottom:-5px;
    position: absolute;
}
.tabLinks.activeLinks::after{
    width: 100%;
    transition: 0.5s;
}

.tabContents ul li{
    list-style-type: none;
    margin: 10px 0;
    color: #393E46;
}

.tabContents{
    display: none;
}
.tabContents.activeTab{
    display: inline;
}

.skillsContent{
    display: none;
}
.skillsContent.activeSkillsTab{
    display: grid;
    color: black;
    grid-template-columns: 25% 25% 25%;
    justify-content: center;
    margin-top: 50px;
    /* margin-left: 100px;
    margin-right: 100px; */
    text-align: center;
    grid-auto-flow:row dense;
}
.gridItems{
    display:flex;
    justify-content: space-evenly;
    border: 3px solid white;
    padding:100px 15px;
    min-height: 400px;
    align-items:center;
    text-align: start;
    background-color: #EEEEEE;
    color:#00ADB5;
    border-radius: 10px;
}
.gridItems ul li{
    color:#393E46;
    font-size: 18px;
    font-weight: 600;
}
.gridItems h2{
    font-size: 18px;
}
.gridItems a{
    padding: 5px 10px 5px 10px;
    background-color: #00ADB5;
    border-radius: 5px;
    color:white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}
.gridItems a:hover{
    background-color: white;
    border-radius: 2px solid #00ADB5;    
    color: #00ADB5;
    transition: ease-in-out 0.25s;
}
.gridItems:hover{
    background-color: #393E46;
    color: #EEEEEE;
    transition: ease-in-out 0.5s;
    transform: scale(1.025);
}
.gridItems:hover ul li{
    transition: 1s;
    color: #EEEEEE;

}
.largeTitle{
    border-bottom: 3px solid#FFB085;
    text-align: left;
    padding-bottom: 5px;
    grid-column: auto / span 3;
    margin-bottom: 50px;
}
.largeTitle h1{
    font-size: 60px;
    color: #00ADB5;
}
.largeTitle h3{
    font-size: 32px;
}
.largeTitleExperience{
    display: flex;
    justify-content: center;
    border-bottom: 3px solid#FFB085;
    padding-bottom: 5px;
    margin-top: 50px;
    margin-bottom: 100px;
    color: #393E46;
    text-align: center;
    margin-right: 8.5%;
    margin-left: 8.5%;
}
.largeTitleExperience h1{
    font-size: 60px;
    color: #00ADB5;
}
.largeTitleExperience span{
    color: #393E46;
}
.linkSkills{
    color: black;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    margin:10px 10px 50px 10px;
}
.linkSkills::after{
    content: "";
    width: 0%;
    height: 3px;
    background-color: #FFB085;
    left:0;
    bottom:-5px;
    position: absolute;   
}
.linkSkills.activeLinkstab:hover::after{
    width: 100%;
    transition: 0.5s;
}
.skillsTitles{
    display: flex;
    justify-content: space-evenly;
}
.squareGraph{
    /* position: absolute; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.squareGraph p{
    color: white;
    font-weight: 600;
}
.squareColor{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #00ADB5;
}
.squareScreen{
    border-radius: 10px;
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: white;

}
.squareGraph{
    margin: 20px 0px 0px 0px;
}
.gridItems.eas .squareScreen{
    background-image: url("/images/Empathy.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.gridItems:hover.eas .squareScreen{
    border-radius: 10px 10px 1px 1px;
    background-image: none;
    transition: 0.5s;
    height: 10px;
}
.gridItems.str .squareScreen{
    background-image: url("/images/Striving.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gridItems:hover.str .squareScreen{
    border-radius: 10px 10px 1px 1px;
    background-image: none;
    transition: 0.5s;
    height: 15px;
}
.gridItems.ope .squareScreen{
    background-image: url("/images/Communication.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gridItems:hover.ope .squareScreen{
    border-radius: 10px 10px 1px 1px;
    background-image: none;
    transition: 0.5s;
    height: 10px;
}
.gridItems.pos .squareScreen{
    background-image: url("/images/Positivity.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gridItems:hover.pos .squareScreen{
    border-radius: 10px 10px 1px 1px;
    background-image: none;
    transition: 0.5s;
    height: 20px;
}
.gridItems.fle .squareScreen{
    background-image: url("/images/Flexibility.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gridItems:hover.fle .squareScreen{
    border-radius: 10px 10px 1px 1px;
    background-image: none;
    transition: 0.5s;
    height: 10px;
}
.gridItems.tim .squareScreen{
    background-image: url("/images/Time.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gridItems:hover.tim .squareScreen{
    border-radius: 10px 10px 1px 1px;
    background-image: none;
    transition: 0.5s;
    height: 20px;
}
.gridItems.rel .squareScreen{
    background-image: url("/images/Realibility.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gridItems:hover.rel .squareScreen{
    border-radius: 10px 10px 1px 1px;
    background-image: none;
    transition: 0.5s;
    height: 20px;
}
.gridItems.men .squareScreen{
    background-image: url("/images/Mentorship.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gridItems:hover.men .squareScreen{
    border-radius: 10px 10px 1px 1px;
    background-image: none;
    transition: 0.5s;
    height: 20px;
}
.gridItems.respo .squareScreen{
    background-image: url("/images/Responsibility.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gridItems:hover.respo .squareScreen{
    border-radius: 10px 10px 1px 1px;
    background-image: none;
    transition: 0.5s;
    height: 0px;
}
.gridItems.del .squareScreen{
    background-image: url("/images/Delegation.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gridItems:hover.del .squareScreen{
    border-radius: 10px 10px 1px 1px;
    background-image: none;
    transition: 0.5s;
    height: 30px;
}
.gridItems.ada .squareScreen{
    background-image: url("/images/Adaptibility.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gridItems:hover.ada .squareScreen{
    border-radius: 10px 10px 1px 1px;
    background-image: none;
    transition: 0.5s;
    height: 20px;
}
.gridItems.confli .squareScreen{
    background-image: url("/images/Conflitct.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gridItems:hover.confli .squareScreen{
    border-radius: 10px 10px 1px 1px;
    background-image: none;
    transition: 0.5s;
    height: 20px;
}
.gridItems.agi .squareScreen{
    background-image: url("/images/Agile.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gridItems:hover.agi .squareScreen{
    border-radius: 10px 10px 1px 1px;
    background-image: none;
    transition: 0.5s;
    height: 30px;
}
.gridItems.per .squareScreen{
    background-image: url("/images/Perseverance.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gridItems:hover.per.squareScreen{
    border-radius: 10px 10px 1px 1px;
    background-image: none;
    transition: 0.5s;
    height: 20px;
}
.gridItems.int .squareScreen{
    background-image: url("/images/Integrity.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gridItems:hover.int .squareScreen{
    border-radius: 10px 10px 1px 1px;
    background-image: none;
    transition: 0.5s;
    height: 0px;
}
.gridItems.tea .squareScreen{
    background-image: url("/images/Teamwork.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gridItems:hover.tea .squareScreen{
    border-radius: 10px 10px 1px 1px;
    background-image: none;
    transition: 0.5s;
    height: 5px;
}
.gridItems.sha .squareScreen{
    background-image: url("/images/Sharing.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gridItems:hover.sha .squareScreen{
    border-radius: 10px 10px 1px 1px;
    background-image: none;
    transition: 0.5s;
    height: 10px;
}
.gridItems.confi .squareScreen{
    background-image: url("/images/Confidence.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gridItems:hover.confi .squareScreen{
    border-radius: 10px 10px 1px 1px;
    background-image: none;
    transition: 0.5s;
    height: 15px;
}
.gridItems.rig .squareScreen{
    background-image: url("/images/Right\ Communication.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gridItems:hover.rig .squareScreen{
    border-radius: 10px 10px 1px 1px;
    background-image: none;
    transition: 0.5s;
    height: 20px;
}
.gridItems.fri .squareScreen{
    background-image: url("/images/Friendlines.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gridItems:hover.fri .squareScreen{
    border-radius: 10px 10px 1px 1px;
    background-image: none;
    transition: 0.5s;
    height: 10px;
}
.gridItems.act .squareScreen{
    background-image: url("/images/Listening.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gridItems:hover.act .squareScreen{
    border-radius: 10px 10px 1px 1px;
    background-image: none;
    transition: 0.5s;
    height: 0px;
}
.gridItems.respe .squareScreen{
    background-image: url("/images/Respect.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gridItems:hover.respe .squareScreen{
    border-radius: 10px 10px 1px 1px;
    background-image: none;
    transition: 0.5s;
    height: 5px;
}
.gridItems.per .squareScreen{
    background-image: url("/images/Perseverance.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gridItems:hover.per .squareScreen{
    border-radius: 10px 10px 1px 1px;
    background-image: none;
    transition: 0.5s;
    height: 20px;
}
.gridItems.pub .squareScreen{
    background-image: url("/images/Public\ Speaking.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gridItems:hover.pub .squareScreen{
    border-radius: 10px 10px 1px 1px;
    background-image: none;
    transition: 0.5s;
    height: 30px;
}
.gridItems.non .squareScreen{
    background-image: url("/images/Body\ Language.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gridItems:hover.non .squareScreen{
    border-radius: 10px 10px 1px 1px;
    background-image: none;
    transition: 0.5s;
    height: 25px;
}
.gridItems.pro .squareScreen{
    background-image: url("/images/Problem\ Solving.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gridItems:hover.pro .squareScreen{
    border-radius: 10px 10px 1px 1px;
    background-image: none;
    transition: 0.5s;
    height: 15px;
}
.gridItems.cri .squareScreen{
    background-image: url("/images/Critical\ Thinking.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gridItems:hover.cri .squareScreen{
    border-radius: 10px 10px 1px 1px;
    background-image: none;
    transition: 0.5s;
    height: 10px;
}
.gridItems.inn .squareScreen{
    background-image: url("/images/Innovation.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gridItems:hover.inn .squareScreen{
    border-radius: 10px 10px 1px 1px;
    background-image: none;
    transition: 0.5s;
    height: 25px;
}
.gridItems.cre{
    grid-column: auto /span 2;
}
.gridItems.cre .squareScreen{
    background-image: url("/images/Refactor.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gridItems:hover.cre .squareScreen{
    border-radius: 10px 10px 1px 1px;
    background-image: none;
    transition: 0.5s;
    height: 25px;
}
.gridItems.pre .squareScreen{
    background-image: url("/images/Presentation.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gridItems:hover.pre .squareScreen{
    border-radius: 10px 10px 1px 1px;
    background-image: none;
    transition: 0.5s;
    height: 25px;
}
.experiencesBox{
    width: 630px;
    color: #393E46;
    margin-left: 15%;
}
.experiencesBox h1{
    color: #00ADB5;
    font-size: 32px;
}
.experiencesBox h3{
    font-size: 22px;
}
.experiencesBox p{
    margin-top: 10px;
    font-size: 18px;
    text-align: justify;
    color: #393E46;
}
.hiasan{
    margin-top: 10px;
    margin-bottom: 10px;
}
.experienceBack{
    margin-bottom: 10%;
}
.educationBack{
    margin-bottom: 10%;
}
.line{
    margin-left:13.1%;
    background-color: #FFB200;
    width: 3px;
    opacity: 0.6;
    height:100px;
    margin-top: -5px;
    margin-bottom: -5px;
}
.dot{
    height: 3px;
    width: 30px;
    opacity: 0.6;
    background-color: #393E46;
    display: inline-block;
    margin-left:14%;
}

.hidden{
    opacity:0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
}
.show{
    opacity:1;
    filter: blur(0);
    transform:translateX(0);
}
img .logo .github{
    width: 48px;
    height: 48px;

}
.tr:nth-child(1){
    transition-delay: 2s;
}
.tr:nth-child(2){
    transition-delay: 1s;
}
.tr:nth-child(3){
    transition-delay: 3s;
}
.tr:nth-child(4){
    transition-delay: 4s;
}
.tr:nth-child(5){
    transition-delay: 4.5s;
}
.tr:nth-child(6){
    transition-delay: 5s;
}
.tr:nth-child(7){
    transition-delay: 5.5s;
}
.button{
    margin-top: 10px;
    cursor: pointer;
}

.projectsTab{
    background-color: #393E46;
    display: grid;
    color: white;
    grid-gap: 10px;
    grid-template-columns: 25% 25% 25%;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
    grid-auto-flow:row dense;
    padding-bottom: 130px;
}
.largeTitle.project h1{
    margin-top: 50px;
    color: #F6F1F1;
}
.gridItemsProjects .omsp h2{
    border-radius: 0px 0px 0px 0px;
}
.gridItemsProjects h2{
    padding: 5px 5px 5px 5px;
    background-color: #00ADB5;
    font-size: 32px;
    text-align: center;
    font-weight: 600;
    color: white;
}
.gridItemsProjects h3{
    background-color: #F6F1F1;
    border-radius: 5px;
    color:#393E46;
    border-radius: 5px 0px 0px 5px;
    font-weight: 400;
    padding: 5px 5px 5px 5px;

}
.gridItemsProjects.pd1{
    background-image: url("images/Pet\'s\ Diary1.png");
    grid-column: auto/ span 2;
}
.gridItemsProjects.pd2{
    background-image: url("images/Pet\'s\ Diary2.png");
}
.gridItemsProjects.interio{
    background-image: url("images/Interio.png");
}
.gridItemsProjects.bp{
    background-image: url("images/BinusPark.png");
    grid-row: auto/ span 2;
}
.gridItemsProjects.ven{
    background-image: url("images/Venture.png");
}
.gridItemsProjects.pt{
    background-image: url("images/PCThrift.png");
    grid-row: auto/ span 2;
}
.gridItemsProjects.an{
    background-image: url("images/AgriNet.png");
}
.gridItemsProjects.san{
    background-image: url("images/SansWork.png");
}
.gridItemsProjects.scm{
    background-image: url("images/StudentCoursesManagement.png");
}
.gridItemsProjects.omsp{
    background-color: #FFB200;
    color:#393E46;
    grid-column: auto/ span 3;
}
.gridItemsProjects.pg{
    background-image: url("images/PerpusGawls.png");
}
.gridItemsProjects.cp1{
    background-image: url("images/SimpleCalculator.png");
}
.gridItemsProjects.cp2{
    background-image: url("images/Voting.png");
}
.gridItemsProjects.ppe{
    grid-column: auto/span 3;
    background-image: url("images/Electrical.png");
}
.gridItemsProjects a{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.gridItemsProjects{
    display: flex;
    justify-content: center;
    min-height: 200px;
    /* max-width: 200px; */
    align-items:center;
    text-align: center;
    background-color: #24272c;
    color:#00ADB5;
    border-radius: 10px;
}

.gridItemsProjects:hover{
    transform: scale(1.025);
    transition: 0.5s;
    opacity: 100%;
}

.miniFooter{
    background-color: #393E46;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 10px 20px 10px;
}
.miniFooter h1{
    font-weight: 600;
    font-size: 18px;
}
.miniFooter h3{
    font-size: 14px;
    margin-bottom: 20px;
}
.miniFooter .icons8{
    font-size: 32px;
    color: #FFB085;
}
.miniFooter ul{
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    list-style: none;
}
.miniFooter ul li{
    padding: 2px 0px 2px 0px;
}
.miniFooter p{
    font-size: 18px;
    font-weight: 600;
    padding:10px 0px 10px 0px;
}
.seperator{
    background-color: #FFB200;
    height: 150px;
    width: 3px;
}